fastapi
uvicorn[standard]
pydantic
pydantic-settings
langchain
openai

# PDF Processing
PyMuPDF
pdfplumber

# Utils ins
python-dotenv

# To generate embeddings and handle vectors
sentence-transformers 
# To generate database for vector storage
faiss-cpu 

# numpy cause is used by faiss andd ensure datatype compatibility
numpy 
# just to show progress bars during document processing lol
tqdm
