fastapi
uvicorn[standard]
pydantic
pydantic-settings
langchain
openai

# Google Gemini (nuevo SDK oficial)
google-genai

# PDF Processing
PyMuPDF
pdfplumber

# Utils
python-dotenv

# To generate embeddings and handle vectors
sentence-transformers 
# To generate database for vector storage
faiss-cpu 

# numpy cause is used by faiss and ensure datatype compatibility
numpy 
# just to show progress bars during document processing lol
tqdm
